body {
    background: #000000f2;
}

#saludo {
    color: #ffffff;
}

#imgprue {
    width: 95%;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    margin: auto;
}

#textindi {
    color: white;
}

#downhtml {
    border-radius: 7px;
    background: red;
    border-color: #ffffff;
}