body {
    background: #000000f2;
    cursor: url('/crsor/cursor.cur'), auto;
}

#saludo {
    color: #ffffff;
}

#icon-log {
    border-radius: 50%;
}

#imgprue {
    width: 95%;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    margin: auto;
}

#textindi {
    color: white;
}

#downhtml {
    border-radius: 7px;
    background: red;
    border-color: #ffffff;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 50px;
}